*{margin: 0;padding: 0}
ul,li{list-style: none;}
a:link,a:visited{text-decoration: none;}
.list{width: 210px; height:100%;padding-left: 0; margin:0 auto 0 auto;}
.list ul li{background-color:#f1f1f1; border:solid 1px #d3c3c3!important; border-bottom:0;}
.list ul li a{ color: #333; font-size:20px; display: block; font-weight:bold; height:60px;line-height: 60px;position: relative;  }
.list ul li .inactive{ background:url(down.svg) no-repeat 230px center;background-size: 15px 15px;}
.list ul li .inactives{background:url(up.svg) no-repeat 230px center;background-size: 15px 15px;}
.list ul li ul{display: none;}
.list ul li ul li { border-left:0; border-right:0; background-color:#FFFFFF; border-color:#d3c3c3;}
.list ul li ul li ul{display: none;}
.list ul li ul li a{ padding-left:20px; font-size: 15px;}
.list ul li ul li ul li { background-color:#d6e6f1; border-color:#6196bb; }
.last{ background-color:#d6e6f1; border-color:#6196bb; }
.list ul li ul li ul li a{ color:#316a91; padding-left:30px;}
.list ul li a img{width: 30px;vertical-align: middle; padding-right: 10px;}
.nav li a{padding:0 0 0 10px}